/* common */

body{
    background-color: rgb(92, 12, 12);
    color: rgb(214, 158, 52);
}

.mywhite{
    color: antiquewhite;
}

.myred{
    color: red;
}

#user{
    text-shadow: 5px 5px 5px black;
}